<table>
  <thead>
    <tr>
      <th>Наименование платежа</th>
      <th>Стоимость</th>
      <th *ngFor="let month of points">{{ month.title }}</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
    <tr 
      payment-tr
      *ngFor="let item of payments" 
      [payment]="item" 
      [points]="points"
      (select)="selectPoint($event)" 
      (remove)="state.removePayment(item.id)">
    </tr>
  </tbody>
</table>

<div class="total">
  <span>Израсходовано средств:</span>&nbsp;&nbsp;
  <span>{{ state.paymentTotal }}</span>
</div>
